
nav > .nav.nav-tabs{

  border: none;
    color:#7a7a7a;
    background:#696969;
    border-radius:0;

}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
  border: none;
    padding: 18px 25px;
    color:#000000;
    background:#000000;
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
 {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #000000 ;
}
.tab-content{
  background: #000000;
    line-height: 25px;
    border: 1px solid rgb(0, 0, 0);
    border-top:5px solid #000000;
    border-bottom:5px solid #ffffffef;
    padding:30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
  border: none;
    background: #000000;
    color:rgb(7, 7, 7);
    border-radius:0;
}

.card{
    margin-bottom: 15px;
    
}

.card-header {
    background-color: #787879;
}

.btn-danger {
  border-color: #000000;
    background-color: #acacac;
    box-shadow: #272e38;
    
}



.card-header {
  background-color: #8b8b8b;
    cursor: pointer;
}
